body {
    font-family: 'Raleway', sans-serif;
}

.container-fluid {
    background-image: url(../images/circles-light.png);
}

.navbar {
    margin-bottom: 0;
}

.link {
    padding: 10px;
    font-size: 1.3em;
}

.link:hover {
    background-color: #4aaaa5;
    border-radius: 10px;
    transition: 1.5s;
}
.navbar-brand {
    background-color: #4aaaa5;
    border-radius: 5px;
    font-size:3em;

}

hr {
    background-color: #777777;
    height: 1px;
    opacity: .5;
}
.container {
    margin: 0px 15px;
}
.panel {
    margin-top:20px;
}
#spanNav {
    color: #fff;
}

#spanNav:hover {
    color: #666666;
}


p {
    margin: 1vh;
}
.logos {
    max-width: 100%;
}
#portrait {
    width: 100%;
    border: 1px solid #000;
}

footer {
    text-align: center;
    background-color: #666666;
    border-top: #4aaaa5 5px solid;
    min-height: 80px;
    margin: 3% -5% -5%;
}

#footer {
    color: #FFF;
    padding-top: 15px;
}